<div style="text-align: center;">
	<h1>New Restaurant</h1>
</div>

<div class="w3-margin">
<%= link_to 'Back', restaurants_path, :class => 'w3-btn w3-red w3-text-black w3-round-large' %>
</div>

<%= render 'form', restaurant: @restaurant %>

